/* 
	CSS Document 
	Author : Soumen Maity.
	Email: soumenmaity2008@rediffmail.com
	Project Name: Job
	Date: 23-Feb-2019
	File: Style.css
*/
/*
font-family: 'Montserrat', sans-serif;
*/
body {
  font-family: 'Montserrat', sans-serif; }

* {
  outline: none !important; }

a {
  color: inherit;
  text-decoration: none !important;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all; }

.fa,
svg,
select {
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: inherit; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all; }

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0; }

p {
  color: inherit; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  padding: 10px 15px;
  display: block;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all; }

input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  padding: 10px 15px;
  display: block;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all; }

/*
body{
	&.visible{
		header ~ section{
			opacity: 1;
			pointer-events: all;
		}
	}
	header ~ section{
		opacity: 0;
		@include smooth(all 0.4s 1s);
		pointer-events: none;
	}
}

*/
.container {
  width: 95%; }

.fack-img {
  width: 100%;
  display: block; }

.modal-content {
  border-radius: 0; }

.modal-footer button {
  margin-left: 15px;
  display: inline-block;
  line-height: 38px;
  padding: 0 25px;
  border-radius: 19px;
  font-weight: 600; }
  .modal-footer button.cancel-btn {
    background-color: #FF0000;
    color: #fff;
    box-shadow: 2px 2px 10px rgba(255, 0, 0, 0.3); }
    .modal-footer button.cancel-btn:hover {
      background-color: #443F53;
      box-shadow: none; }
  .modal-footer button.extra-btn {
    background-color: #5C2D89;
    color: #fff;
    box-shadow: 2px 2px 10px rgba(92, 45, 137, 0.3); }
    .modal-footer button.extra-btn:hover {
      background-color: #443F53;
      box-shadow: none; }

header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #5F0030; }
  header.active {
    -webkit-box-shadow: 0 2px 2px #e2e1da;
    -moz-box-shadow: 0 2px 2px #e2e1da;
    box-shadow: 0 2px 2px #e2e1da; }
  header .bottom-footer {
    padding: 15px 0 0; }
    header .bottom-footer .logo {
      float: left; }
      header .bottom-footer .logo a {
        float: left; }
        header .bottom-footer .logo a img {
          display: block;
          max-width: 100%;
          height: 60px; }
    header .bottom-footer .search-box .form .frow {
      display: -webkit-flex;
      display: flex;
      background-color: #f5f5f5;
      border: 1px solid #f0f0f0;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05); }
      header .bottom-footer .search-box .form .frow input {
        width: 100%;
        background-color: transparent;
        padding: 0 15px;
        line-height: 40px; }
      header .bottom-footer .search-box .form .frow button {
        background-color: transparent;
        line-height: 40px;
        padding: 0 15px; }
        header .bottom-footer .search-box .form .frow button img {
          width: 18px;
          height: 18px; }
    header .bottom-footer .short-link-wrap .shot-link {
      margin-bottom: 15px; }
      header .bottom-footer .short-link-wrap .shot-link > ul {
        text-align: right; }
        header .bottom-footer .short-link-wrap .shot-link > ul > li {
          display: inline-block;
          vertical-align: middle;
          position: relative;
          border-right: 1px solid #cbcbcb; }
          header .bottom-footer .short-link-wrap .shot-link > ul > li:last-child {
            border: 0; }
          header .bottom-footer .short-link-wrap .shot-link > ul > li > a {
            display: inline-block;
            line-height: 24px;
            padding: 0 8px;
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase; }
            header .bottom-footer .short-link-wrap .shot-link > ul > li > a:hover {
              color: #FF0000; }
  header .nav-btn-box {
    display: none; }

footer {
  background-color: #2D2D2D;
  color: red; }
  footer .upper-footer {
    padding: 40px 0 0px; }
    footer .upper-footer .row > div {
      margin-bottom: 30px; }
  footer h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
    color: #fff; }
  footer .flink li {
    padding-bottom: 10px; }
    footer .flink li a {
      display: inline-block;
      font-weight: 300;
      color: #fff; }
      footer .flink li a:hover {
        color: #FF0000;
        opacity: 1; }
  footer .form {
    margin-bottom: 20px; }
    footer .form .frow {
      display: -webkit-flex;
      display: flex; }
      footer .form .frow input {
        width: calc(100% - 100px);
        background-color: #fff;
        padding: 0 15px;
        line-height: 40px;
        color: #000; }
      footer .form .frow button {
        background-color: #5C2D89;
        color: #fff;
        font-weight: 500;
        line-height: 40px;
        padding: 0 15px;
        width: 100px; }
        footer .form .frow button:hover {
          background-color: red;
          color: #000; }
  footer .fsocial {
    margin-top: -10px; }
    footer .fsocial li {
      display: inline-block;
      margin-right: 10px; }
      footer .fsocial li a {
        display: inline-block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        border-radius: 50%;
        background-color: #5C2D89;
        color: #fff;
        text-align: center; }
        footer .fsocial li a:hover {
          background-color: #fff;
          color: #5C2D89; }
  footer .copy-wrap {
    background-color: #DCDACE;
    color: #333; }
    footer .copy-wrap .copy-in {
      padding: 15px 0; }
    footer .copy-wrap p {
      opacity: 0.80;
      margin-bottom: 0px;
      float: left; }
    footer .copy-wrap .ovlink {
      float: right; }
      footer .copy-wrap .ovlink img {
        height: 25px;
        width: auto; }
      footer .copy-wrap .ovlink a:hover {
        opacity: 1; }
  footer .click-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 9;
    opacity: 0;
    pointer-events: none; }
    footer .click-to-top.active {
      opacity: 1;
      pointer-events: auto; }
    footer .click-to-top a {
      background-color: #444;
      color: #fff;
      display: block;
      width: 30px;
      line-height: 30px;
      padding: 0;
      text-align: center;
      opacity: 0.5;
      border-radius: 50%; }
      footer .click-to-top a:hover {
        background-color: #999;
        color: #222;
        opacity: 1; }

.login-register-wrap {
  padding: 60px 0;
  background-image: url("../images/bg1.png");
  background-position: center;
  background-size: center;
  background-attachment: fixed;
  /* @extend display-flex; */
  /* @extend list-type-ulli; */ }
  .login-register-wrap display-flex,
  .login-register-wrap .display-flex,
  .login-register-wrap .display-flex-center,
  .login-register-wrap .signup-content,
  .login-register-wrap .signin-content,
  .login-register-wrap .social-login,
  .login-register-wrap .socials {
    display: flex;
    display: -webkit-flex; }
  .login-register-wrap list-type-ulli,
  .login-register-wrap .socials {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .login-register-wrap a:focus,
  .login-register-wrap a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s; }
  .login-register-wrap input,
  .login-register-wrap select,
  .login-register-wrap textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important; }
  .login-register-wrap input::-webkit-outer-spin-button,
  .login-register-wrap input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0; }
  .login-register-wrap input:focus,
  .login-register-wrap select:focus,
  .login-register-wrap textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important; }
  .login-register-wrap input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important; }
  .login-register-wrap input[type=radio] {
    appearance: radio !important;
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important; }
  .login-register-wrap img {
    max-width: 100%;
    height: auto; }
  .login-register-wrap figure {
    margin: 0; }
  .login-register-wrap p {
    margin-bottom: 0px;
    font-size: 15px;
    color: #777; }
  .login-register-wrap h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-size: 36px; }
  .login-register-wrap .clear {
    clear: both; }
  .login-register-wrap .container {
    width: 900px;
    max-width: 100%;
    background: #fff;
    border: 1px dashed #ccc;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px; }
  .login-register-wrap .display-flex {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }
  .login-register-wrap .display-flex-center {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }
  .login-register-wrap .position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
  .login-register-wrap .signup-content {
    padding: 40px 0; }
  .login-register-wrap .signup-form,
  .login-register-wrap .signup-image,
  .login-register-wrap .signin-form,
  .login-register-wrap .signin-image {
    width: 50%;
    overflow: hidden; }
  .login-register-wrap .signup-image {
    margin: 0 55px; }
  .login-register-wrap .form-title {
    margin-bottom: 33px; }
  .login-register-wrap .signup-image {
    margin-top: 45px; }
  .login-register-wrap figure {
    margin-bottom: 50px;
    text-align: center; }
  .login-register-wrap .form-submit {
    display: inline-block;
    background: #F0F0F0;
    color: #222;
    width: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    padding: 0 30px;
    border: 1px dashed #ccc;
    line-height: 40px;
    text-transform: uppercase; }
  .login-register-wrap .form-submit:hover {
    background: #EE493E;
    color: #fff; }
  .login-register-wrap .sign-in {
    margin: 100px 0 60px; }
  .login-register-wrap #signin {
    margin-top: 16px; }
  .login-register-wrap .signup-image-link {
    font-size: 16px;
    color: #222;
    display: block;
    text-align: center;
    font-weight: 600; }
  .login-register-wrap .forgot-password {
    font-size: 16px;
    color: #222;
    display: block;
    font-weight: 600; }
  .login-register-wrap .signup-image-link:hover {
    color: #EE493E; }
  .login-register-wrap .term-service {
    font-size: 13px;
    color: #222; }
  .login-register-wrap .signup-form {
    margin-left: 35px;
    margin-right: 45px;
    padding-left: 34px; }
  .login-register-wrap .register-form {
    width: 100%; }
  .login-register-wrap .form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden; }
  .login-register-wrap .form-group:last-child {
    margin-bottom: 0px; }
  .login-register-wrap input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px dashed #999;
    padding: 0px 30px;
    line-height: 40px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px; }
  .login-register-wrap input::-webkit-input-placeholder {
    color: #999; }
  .login-register-wrap input::-moz-placeholder {
    color: #999; }
  .login-register-wrap input:-ms-input-placeholder {
    color: #999; }
  .login-register-wrap input:-moz-placeholder {
    color: #999; }
  .login-register-wrap input:focus {
    border-bottom: 1px solid #222; }
  .login-register-wrap input:focus::-webkit-input-placeholder {
    color: #222; }
  .login-register-wrap input:focus::-moz-placeholder {
    color: #222; }
  .login-register-wrap input:focus:-ms-input-placeholder {
    color: #222; }
  .login-register-wrap input:focus:-moz-placeholder {
    color: #222; }
  .login-register-wrap input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none; }
  .login-register-wrap input[type=checkbox]:not(old) + label {
    display: inline-block;
    line-height: 1.5em;
    margin-top: 6px; }
  .login-register-wrap input[type=checkbox]:not(old) + label > span {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px solid #bbb;
    background: white;
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
    vertical-align: bottom; }
  .login-register-wrap input[type=checkbox]:not(old):checked + label > span {
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
    border-color: #EE493E; }
  .login-register-wrap input[type=checkbox]:not(old):checked + label > span:before {
    content: '\f26b';
    display: block;
    color: #EE493E;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    font-family: 'Material-Design-Iconic-Font';
    font-weight: bold; }
  .login-register-wrap .agree-term {
    display: inline-block;
    width: auto; }
  .login-register-wrap label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: #222; }
  .login-register-wrap .label-has-error {
    top: 22%; }
  .login-register-wrap label.error {
    position: relative;
    background: url("../images/unchecked.gif") no-repeat;
    background-position-y: 3px;
    padding-left: 20px;
    display: block;
    margin-top: 20px; }
  .login-register-wrap label.valid {
    display: block;
    position: absolute;
    right: 0;
    left: auto;
    margin-top: -6px;
    width: 20px;
    height: 20px;
    background: transparent; }
  .login-register-wrap label.valid:after {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f269';
    width: 100%;
    height: 100%;
    position: absolute;
    /* right: 0; */
    font-size: 16px;
    color: green; }
  .login-register-wrap .label-agree-term {
    cursor: pointer;
    font-weight: 500;
    position: relative;
    top: 0%;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0); }
  .login-register-wrap .zmdi {
    font-size: 22px;
    color: #EE493E;
    opacity: 0.8; }
  .login-register-wrap .signin-content {
    padding-top: 67px;
    padding-bottom: 87px; }
  .login-register-wrap .social-login {
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    margin-top: 80px; }
  .login-register-wrap .social-label {
    display: inline-block;
    margin-right: 15px;
    font-weight: 500; }
  .login-register-wrap .socials li {
    padding: 5px; }
  .login-register-wrap .socials li:last-child {
    margin-right: 0px; }
  .login-register-wrap .socials li a {
    text-decoration: none; }
  .login-register-wrap .socials li a i {
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .login-register-wrap .socials li:hover a i {
    -webkit-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0); }
  .login-register-wrap .zmdi-facebook {
    background: #3b5998; }
  .login-register-wrap .zmdi-twitter {
    background: #1da0f2; }
  .login-register-wrap .zmdi-google {
    background: #e72734; }
  .login-register-wrap .signin-form {
    margin-right: 90px;
    margin-left: 80px; }
  .login-register-wrap .signin-image {
    margin-left: 110px;
    margin-right: 20px;
    margin-top: 10px; }
  @media screen and (max-width: 1200px) {
    .login-register-wrap .container {
      width: calc( 100% - 30px);
      max-width: 100%; } }
  @media screen and (min-width: 1024px) {
    .login-register-wrap .container {
      max-width: 1200px; } }
  @media screen and (max-width: 768px) {
    .login-register-wrap .signup-content,
    .login-register-wrap .signin-content {
      flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -o-flex-direction: column;
      -ms-flex-direction: column;
      justify-content: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -o-justify-content: center;
      -ms-justify-content: center; }
    .login-register-wrap .signup-form {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      /* box-sizing: border-box; */
      padding: 0 30px; }
    .login-register-wrap .signin-image {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 50px;
      order: 2;
      -moz-order: 2;
      -webkit-order: 2;
      -o-order: 2;
      -ms-order: 2; }
    .login-register-wrap .signup-form,
    .login-register-wrap .signup-image,
    .login-register-wrap .signin-form,
    .login-register-wrap .signin-image {
      width: auto; }
    .login-register-wrap .social-login {
      justify-content: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -o-justify-content: center;
      -ms-justify-content: center; }
    .login-register-wrap .form-button {
      text-align: center; }
    .login-register-wrap .signin-form {
      order: 1;
      -moz-order: 1;
      -webkit-order: 1;
      -o-order: 1;
      -ms-order: 1;
      margin-right: 0px;
      margin-left: 0px;
      padding: 0 30px; }
    .login-register-wrap .form-title {
      text-align: center; } }
  @media screen and (max-width: 400px) {
    .login-register-wrap .social-login {
      flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -o-flex-direction: column;
      -ms-flex-direction: column; }
    .login-register-wrap .social-label {
      margin-right: 0px;
      margin-bottom: 10px; } }

.about-page-wrap {
  padding: 60px 0; }
  .about-page-wrap small {
    line-height: 20px; }
  .about-page-wrap .about-top-part {
    margin-bottom: 30px; }
    .about-page-wrap .about-top-part ul {
      border-bottom: 1px solid #e5e3dd; }
      .about-page-wrap .about-top-part ul .tabs {
        float: left;
        padding: 0 10px; }
        .about-page-wrap .about-top-part ul .tabs.active a {
          border-bottom: 1px solid #FF0000;
          color: #FF0000; }
        .about-page-wrap .about-top-part ul .tabs a {
          display: block;
          line-height: 50px;
          padding: 0 10px;
          border-bottom: 1px solid transparent;
          font-weight: 500;
          position: relative; }
          .about-page-wrap .about-top-part ul .tabs a:hover {
            border-bottom: 1px solid #FF0000;
            color: #FF0000; }
      .about-page-wrap .about-top-part ul .tab-last {
        float: right;
        padding: 5px 0; }
        .about-page-wrap .about-top-part ul .tab-last a {
          display: block;
          padding: 0 20px;
          line-height: 36px;
          background-color: #FF0000;
          color: #fff;
          border-radius: 18px;
          font-weight: 500;
          box-shadow: 2px 3px 10px rgba(255, 0, 0, 0.3); }
          .about-page-wrap .about-top-part ul .tab-last a:hover {
            background-color: #443F53;
            box-shadow: none; }
  .about-page-wrap .header-part {
    text-align: center;
    margin-bottom: 30px; }
    .about-page-wrap .header-part h3 {
      font-weight: 600;
      font-size: 32px; }
  .about-page-wrap .title {
    border: 1px solid rgba(26, 54, 126, 0.125);
    border-radius: 3px;
    padding: 30px;
    margin-bottom: 30px; }
  .about-page-wrap .sec-1 {
    padding-bottom: 0; }
    .about-page-wrap .sec-1 table {
      width: 100%; }
      .about-page-wrap .sec-1 table td {
        padding-bottom: 30px;
        vertical-align: top; }
        .about-page-wrap .sec-1 table td.no-pad-left {
          padding-left: 0 !important;
          width: 100% !important; }
        .about-page-wrap .sec-1 table td:first-child {
          width: 35%; }
        .about-page-wrap .sec-1 table td:last-child {
          width: 65%;
          padding-left: 15px; }
      .about-page-wrap .sec-1 table h6 {
        font-size: 16px;
        font-weight: 600; }
        .about-page-wrap .sec-1 table h6 small {
          display: block;
          font-size: 88%;
          padding-top: 5px; }
          .about-page-wrap .sec-1 table h6 small a {
            font-weight: 600;
            color: #5C2D89; }
            .about-page-wrap .sec-1 table h6 small a:hover {
              color: #FF0000; }
      .about-page-wrap .sec-1 table textarea {
        width: 100%;
        height: 160px;
        border: 1px solid rgba(26, 54, 126, 0.125);
        border-radius: 3px;
        margin: 20px 0; }
      .about-page-wrap .sec-1 table input[type=text] {
        display: block;
        width: 100%;
        border: 1px solid rgba(26, 54, 126, 0.125);
        border-radius: 3px; }
      .about-page-wrap .sec-1 table p {
        text-align: right;
        margin: 0;
        padding-top: 8px;
        opacity: 0.8; }
      .about-page-wrap .sec-1 table label {
        display: block;
        font-weight: normal;
        margin-bottom: 15px;
        cursor: pointer; }
        .about-page-wrap .sec-1 table label input {
          -webkit-appearance: none;
          border: 1px solid rgba(255, 0, 0, 0.35);
          width: 22px;
          height: 22px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
          margin: 0;
          margin-right: 12px; }
        .about-page-wrap .sec-1 table label input:checked {
          background-color: rgba(255, 0, 0, 0.35);
          border: 1px solid rgba(255, 0, 0, 0.65); }
  .about-page-wrap .sec-2 {
    padding-bottom: 0; }
    .about-page-wrap .sec-2 table {
      width: 100%; }
      .about-page-wrap .sec-2 table td {
        padding-bottom: 30px;
        vertical-align: top; }
        .about-page-wrap .sec-2 table td:first-child {
          width: 35%; }
        .about-page-wrap .sec-2 table td:last-child {
          width: 65%;
          padding-left: 15px; }
      .about-page-wrap .sec-2 table h6 {
        font-size: 16px;
        font-weight: 600; }
        .about-page-wrap .sec-2 table h6 small {
          display: block;
          font-size: 88%;
          padding-top: 5px; }
      .about-page-wrap .sec-2 table input[type=text] {
        display: block;
        width: 100%;
        border: 1px solid rgba(26, 54, 126, 0.125);
        border-radius: 3px; }
      .about-page-wrap .sec-2 table .profile-photo {
        width: 160px;
        height: 160px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03); }
        .about-page-wrap .sec-2 table .profile-photo input {
          width: 100%;
          height: 100%;
          cursor: pointer;
          display: block;
          opacity: 0; }
        .about-page-wrap .sec-2 table .profile-photo:hover .hover {
          top: 0; }
        .about-page-wrap .sec-2 table .profile-photo .hover {
          pointer-events: none;
          position: absolute;
          top: -100%;
          left: 0;
          width: 100%;
          height: 100%;
          display: -webkit-flex;
          display: flex;
          text-align: center;
          -webkit-align-items: center;
          align-items: center;
          background-color: rgba(68, 63, 83, 0.8);
          color: #fff;
          -webkit-transition: ease 0.4s;
          -moz-transition: ease 0.4s;
          -ms-transition: ease 0.4s;
          transition: ease 0.4s; }
          .about-page-wrap .sec-2 table .profile-photo .hover i {
            font-size: 30px;
            margin-bottom: 7px; }
          .about-page-wrap .sec-2 table .profile-photo .hover b {
            font-weight: 600; }
          .about-page-wrap .sec-2 table .profile-photo .hover * {
            display: block;
            width: 100%; }
      .about-page-wrap .sec-2 table .cover-photo {
        width: 100%;
        height: 250px;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;
        border-radius: 3px;
        box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03); }
        .about-page-wrap .sec-2 table .cover-photo input {
          width: 100%;
          height: 100%;
          cursor: pointer;
          display: block;
          opacity: 0; }
        .about-page-wrap .sec-2 table .cover-photo:hover .hover {
          top: 0; }
        .about-page-wrap .sec-2 table .cover-photo .hover {
          pointer-events: none;
          position: absolute;
          top: -100%;
          left: 0;
          width: 100%;
          height: 100%;
          display: -webkit-flex;
          display: flex;
          text-align: center;
          -webkit-align-items: center;
          align-items: center;
          background-color: rgba(68, 63, 83, 0.8);
          color: #fff;
          -webkit-transition: ease 0.4s;
          -moz-transition: ease 0.4s;
          -ms-transition: ease 0.4s;
          transition: ease 0.4s; }
          .about-page-wrap .sec-2 table .cover-photo .hover i {
            font-size: 30px;
            margin-bottom: 7px; }
          .about-page-wrap .sec-2 table .cover-photo .hover b {
            font-weight: 600; }
          .about-page-wrap .sec-2 table .cover-photo .hover * {
            display: block;
            width: 100%; }
      .about-page-wrap .sec-2 table .url-box {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        font-size: 16px; }
        .about-page-wrap .sec-2 table .url-box span {
          margin-right: 8px; }
      .about-page-wrap .sec-2 table p {
        margin: 0;
        opacity: 0.9;
        padding-top: 8px;
        font-size: 16px; }
        .about-page-wrap .sec-2 table p a {
          font-weight: 600;
          color: #5C2D89; }
          .about-page-wrap .sec-2 table p a:hover {
            color: #FF0000; }
      .about-page-wrap .sec-2 table .color-box {
        margin-bottom: 10px; }
        .about-page-wrap .sec-2 table .color-box span {
          display: inline-block;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          line-height: 36px;
          text-align: center;
          color: #fff;
          font-size: 20px; }
  .about-page-wrap .sec-3 h6 {
    font-size: 16px;
    font-weight: 600; }
    .about-page-wrap .sec-3 h6 small {
      display: block;
      font-size: 88%;
      padding-top: 5px; }
      .about-page-wrap .sec-3 h6 small a {
        font-weight: 600;
        color: #5C2D89; }
        .about-page-wrap .sec-3 h6 small a:hover {
          color: #FF0000; }
  .about-page-wrap .sec-3 ul li {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(26, 54, 126, 0.2);
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 3px; }
    .about-page-wrap .sec-3 ul li span {
      font-size: 16px;
      font-weight: 500; }
      .about-page-wrap .sec-3 ul li span i {
        margin-right: 5px;
        font-size: 20px; }
    .about-page-wrap .sec-3 ul li button {
      display: block;
      padding: 0 30px;
      line-height: 36px;
      background-color: #5C2D89;
      color: #fff;
      border-radius: 18px;
      font-weight: 500;
      box-shadow: 2px 3px 10px rgba(92, 45, 137, 0.3); }
      .about-page-wrap .sec-3 ul li button:hover {
        background-color: #FF0000;
        box-shadow: none; }
  .about-page-wrap .sec-4 table {
    width: 100%; }
    .about-page-wrap .sec-4 table td {
      padding-bottom: 30px;
      vertical-align: top; }
      .about-page-wrap .sec-4 table td.no-pad-left {
        padding-left: 0 !important;
        width: 100% !important; }
      .about-page-wrap .sec-4 table td:first-child {
        width: 35%; }
      .about-page-wrap .sec-4 table td:last-child {
        width: 65%;
        padding-left: 15px; }
    .about-page-wrap .sec-4 table h6 {
      font-size: 16px;
      font-weight: 600; }
      .about-page-wrap .sec-4 table h6 small {
        display: block;
        font-size: 88%;
        padding-top: 5px; }
        .about-page-wrap .sec-4 table h6 small a {
          font-weight: 600;
          color: #5C2D89; }
          .about-page-wrap .sec-4 table h6 small a:hover {
            color: #FF0000; }
    .about-page-wrap .sec-4 table p {
      opacity: 0.9;
      font-weight: 500; }
    .about-page-wrap .sec-4 table label {
      display: -webkit-flex;
      display: flex;
      font-weight: normal;
      margin-bottom: 15px;
      cursor: pointer; }
      .about-page-wrap .sec-4 table label input {
        -webkit-appearance: none;
        border: 1px solid rgba(255, 0, 0, 0.35);
        width: 22px;
        height: 22px;
        border-radius: 3px;
        display: block;
        vertical-align: middle;
        margin: 0;
        margin-right: 12px; }
      .about-page-wrap .sec-4 table label input:checked {
        background-color: rgba(255, 0, 0, 0.35);
        border: 1px solid rgba(255, 0, 0, 0.65); }
      .about-page-wrap .sec-4 table label div {
        width: calc(100% - 22px);
        padding-left: 10px;
        font-size: 16px; }
        .about-page-wrap .sec-4 table label div small {
          font-size: 85%;
          opacity: 0.8; }
          .about-page-wrap .sec-4 table label div small a {
            font-weight: 600;
            color: #5C2D89; }
            .about-page-wrap .sec-4 table label div small a:hover {
              color: #FF0000; }
  .about-page-wrap .big-btn {
    margin-bottom: 30px; }
    .about-page-wrap .big-btn button {
      display: block;
      width: 100%;
      padding: 0 20px;
      line-height: 50px;
      background-color: #FF0000;
      color: #fff;
      border-radius: 25px;
      font-weight: 600;
      box-shadow: 2px 3px 10px rgba(255, 0, 0, 0.3);
      font-size: 16px; }
      .about-page-wrap .big-btn button:disabled {
        background-color: #eee;
        box-shadow: none;
        color: #aaa;
        cursor: not-allowed;
        pointer-events: none; }
  .about-page-wrap .sec-5 {
    padding: 20px; }
    .about-page-wrap .sec-5 h6 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 15px; }
      .about-page-wrap .sec-5 h6 small {
        display: block;
        font-size: 88%;
        padding-top: 5px; }
        .about-page-wrap .sec-5 h6 small a {
          font-weight: 600;
          color: #5C2D89; }
          .about-page-wrap .sec-5 h6 small a:hover {
            color: #FF0000; }
    .about-page-wrap .sec-5 .list-type-1 {
      margin-bottom: 40px; }
      .about-page-wrap .sec-5 .list-type-1 li {
        display: -webkit-flex;
        display: flex;
        margin-bottom: 15px; }
        .about-page-wrap .sec-5 .list-type-1 li.green .round {
          border-color: #3AC47D;
          background-color: #3AC47D;
          text-align: center; }
          .about-page-wrap .sec-5 .list-type-1 li.green .round i {
            display: inline-block;
            color: #fff; }
        .about-page-wrap .sec-5 .list-type-1 li.green .content p {
          color: #3AC47D; }
        .about-page-wrap .sec-5 .list-type-1 li.green .content small {
          display: none; }
        .about-page-wrap .sec-5 .list-type-1 li .round {
          margin-top: 5px;
          width: 18px;
          line-height: 18px;
          height: 18px;
          margin-right: 10px;
          border: 1px solid #FF0000;
          border-radius: 50%; }
          .about-page-wrap .sec-5 .list-type-1 li .round i {
            display: none; }
        .about-page-wrap .sec-5 .list-type-1 li .content p {
          color: #FF0000;
          margin-bottom: 0px;
          font-size: 15px;
          font-weight: 500; }
        .about-page-wrap .sec-5 .list-type-1 li .content small {
          display: block;
          font-size: 85%; }
          .about-page-wrap .sec-5 .list-type-1 li .content small a {
            font-weight: 600;
            color: #5C2D89; }
            .about-page-wrap .sec-5 .list-type-1 li .content small a:hover {
              color: #FF0000; }
    .about-page-wrap .sec-5 .list-type-2 li {
      margin-bottom: 10px; }
      .about-page-wrap .sec-5 .list-type-2 li a {
        display: block; }
        .about-page-wrap .sec-5 .list-type-2 li a::before {
          display: inline-block;
          vertical-align: middle;
          opacity: 0.8;
          margin-right: 8px;
          height: 2px;
          width: 15px;
          background-color: #443F53;
          content: "";
          -webkit-transition: ease 0.4s;
          -moz-transition: ease 0.4s;
          -ms-transition: ease 0.4s;
          transition: ease 0.4s; }
        .about-page-wrap .sec-5 .list-type-2 li a:hover {
          color: #FF0000; }
          .about-page-wrap .sec-5 .list-type-2 li a:hover::before {
            width: 25px;
            background-color: #FF0000; }
    .about-page-wrap .sec-5 p {
      opacity: 0.8; }
    .about-page-wrap .sec-5 h4 {
      font-weight: 600;
      font-size: 16px; }
    .about-page-wrap .sec-5 .link {
      text-align: center;
      padding-top: 10px; }
      .about-page-wrap .sec-5 .link a {
        display: block;
        line-height: 36px;
        font-weight: 600;
        background-color: rgba(255, 0, 0, 0.1);
        color: #FF0000;
        padding: 0 20px;
        border-radius: 18px;
        text-align: center; }
        .about-page-wrap .sec-5 .link a:hover {
          background-color: red;
          color: #fff; }
  .about-page-wrap .sec-6 {
    text-align: center; }
    .about-page-wrap .sec-6 h6 {
      font-size: 18px;
      font-weight: 600; }
    .about-page-wrap .sec-6 p {
      line-height: 24px; }
    .about-page-wrap .sec-6 .link {
      padding-top: 20px; }
      .about-page-wrap .sec-6 .link a {
        display: inline-block;
        cursor: pointer;
        padding: 0 30px;
        line-height: 36px;
        background-color: #5C2D89;
        color: #fff;
        border-radius: 18px;
        font-weight: 500;
        box-shadow: 2px 3px 10px rgba(92, 45, 137, 0.3); }
        .about-page-wrap .sec-6 .link a:hover {
          background-color: #FF0000;
          box-shadow: none; }
  .about-page-wrap .sec-7 h5 {
    font-size: 18px;
    font-weight: 600; }
  .about-page-wrap .sec-7 p {
    line-height: 24px; }
  .about-page-wrap .sec-7 h6 {
    font-size: 15px;
    font-weight: 600; }
    .about-page-wrap .sec-7 h6 small {
      display: block;
      font-size: 88%;
      padding-top: 5px; }
      .about-page-wrap .sec-7 h6 small a {
        font-weight: 600;
        color: #5C2D89; }
        .about-page-wrap .sec-7 h6 small a:hover {
          color: #FF0000; }
  .about-page-wrap .sec-7 .list-type-3 li {
    margin-bottom: 20px; }
    .about-page-wrap .sec-7 .list-type-3 li label {
      font-weight: normal;
      display: -webkit-flex;
      display: flex;
      cursor: pointer; }
      .about-page-wrap .sec-7 .list-type-3 li label input {
        -webkit-appearance: none;
        border: 1px solid rgba(255, 0, 0, 0.35);
        width: 22px;
        height: 22px;
        border-radius: 50%;
        display: block;
        margin: 0;
        margin-right: 12px; }
      .about-page-wrap .sec-7 .list-type-3 li label input:checked {
        background-color: rgba(255, 0, 0, 0.35);
        border: 1px solid rgba(255, 0, 0, 0.65); }
      .about-page-wrap .sec-7 .list-type-3 li label p {
        font-size: 15px;
        margin-bottom: 5px;
        font-weight: 500;
        opacity: 0.7; }
        .about-page-wrap .sec-7 .list-type-3 li label p span {
          font-size: 20px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 8px; }
  .about-page-wrap .sec-7 .inside-tile {
    border-radius: 4px;
    position: relative; }
    .about-page-wrap .sec-7 .inside-tile .delete {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 24px;
      padding: 5px 20px;
      cursor: pointer;
      z-index: 9;
      -webkit-transition: ease 0.4s;
      -moz-transition: ease 0.4s;
      -ms-transition: ease 0.4s;
      transition: ease 0.4s; }
      .about-page-wrap .sec-7 .inside-tile .delete:hover {
        color: #FF0000; }
    .about-page-wrap .sec-7 .inside-tile table {
      width: 100%; }
      .about-page-wrap .sec-7 .inside-tile table td {
        vertical-align: top;
        padding-bottom: 30px; }
      .about-page-wrap .sec-7 .inside-tile table .input-number {
        display: -webkit-flex;
        display: flex;
        padding-right: 50%; }
        .about-page-wrap .sec-7 .inside-tile table .input-number span {
          display: block;
          width: 42px;
          line-height: 42px;
          background-color: rgba(26, 54, 126, 0.125);
          text-align: center;
          font-size: 20px;
          color: #443F53; }
      .about-page-wrap .sec-7 .inside-tile table textarea {
        width: 100%;
        height: 160px;
        border: 1px solid rgba(26, 54, 126, 0.125);
        border-radius: 3px; }
      .about-page-wrap .sec-7 .inside-tile table input {
        display: block;
        width: 100%;
        border: 1px solid rgba(26, 54, 126, 0.125);
        border-radius: 3px;
        width: calc(100% - 42px); }
  .about-page-wrap .sec-7 .add-btn-goal {
    padding-top: 30px; }
    .about-page-wrap .sec-7 .add-btn-goal button {
      display: block;
      width: 100%;
      padding: 0 20px;
      line-height: 50px;
      background-color: #3AC47D;
      color: #fff;
      border-radius: 25px;
      font-weight: 600;
      box-shadow: 2px 3px 10px rgba(58, 196, 125, 0.3);
      font-size: 16px;
      cursor: pointer; }
      .about-page-wrap .sec-7 .add-btn-goal button:hover {
        background-color: #443F53;
        box-shadow: none; }
  .about-page-wrap .sec-8 {
    padding-bottom: 0; }
    .about-page-wrap .sec-8 table {
      width: 100%; }
      .about-page-wrap .sec-8 table td {
        padding-bottom: 30px;
        vertical-align: top; }
        .about-page-wrap .sec-8 table td.no-pad-left {
          padding-left: 0 !important;
          width: 100% !important; }
        .about-page-wrap .sec-8 table td:first-child {
          width: 35%; }
        .about-page-wrap .sec-8 table td:last-child {
          width: 65%;
          padding-left: 15px; }
      .about-page-wrap .sec-8 table h6 {
        font-size: 16px;
        font-weight: 600; }
        .about-page-wrap .sec-8 table h6 small {
          display: block;
          font-size: 88%;
          padding-top: 5px; }
          .about-page-wrap .sec-8 table h6 small a {
            font-weight: 600;
            color: #5C2D89; }
            .about-page-wrap .sec-8 table h6 small a:hover {
              color: #FF0000; }
      .about-page-wrap .sec-8 table textarea {
        width: 100%;
        height: 160px;
        border: 1px solid rgba(26, 54, 126, 0.125);
        border-radius: 3px;
        margin: 20px 0; }
      .about-page-wrap .sec-8 table input[type=text] {
        display: block;
        width: 100%;
        border: 1px solid rgba(26, 54, 126, 0.125);
        border-radius: 3px; }
      .about-page-wrap .sec-8 table p {
        opacity: 0.8; }
        .about-page-wrap .sec-8 table p a {
          color: #5C2D89;
          font-weight: 600; }
          .about-page-wrap .sec-8 table p a:hover {
            color: #FF0000; }
      .about-page-wrap .sec-8 table label {
        display: -webkit-flex;
        display: flex;
        font-weight: normal;
        margin-bottom: 15px;
        cursor: pointer; }
        .about-page-wrap .sec-8 table label input[type=radio] {
          -webkit-appearance: none;
          border: 1px solid rgba(255, 0, 0, 0.35);
          width: 22px;
          height: 22px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
          margin: 0;
          margin-right: 12px; }
        .about-page-wrap .sec-8 table label input:checked {
          background-color: rgba(255, 0, 0, 0.35);
          border: 1px solid rgba(255, 0, 0, 0.65); }
        .about-page-wrap .sec-8 table label input[type=checkbox] {
          -webkit-appearance: none;
          border: 1px solid rgba(255, 0, 0, 0.35);
          width: 22px;
          height: 22px;
          border-radius: 3px;
          display: block;
          vertical-align: middle;
          margin: 0;
          margin-right: 12px; }
        .about-page-wrap .sec-8 table label div {
          width: calc(100% - 22px);
          padding-left: 10px;
          font-size: 16px; }
  .about-page-wrap .sec-9 {
    padding: 15px; }
    .about-page-wrap .sec-9 h2 {
      font-weight: 700;
      font-size: 26px;
      margin-bottom: 3px; }
    .about-page-wrap .sec-9 .btn-wrap {
      display: -webkit-flex;
      display: flex;
      margin: 0 -5px;
      padding-top: 15px; }
      .about-page-wrap .sec-9 .btn-wrap button {
        display: block;
        margin: 0 5px;
        background-color: rgba(255, 0, 0, 0.1);
        color: #FF0000;
        text-align: center;
        line-height: 36px;
        border-radius: 18px;
        font-weight: 500;
        width: 100%; }
        .about-page-wrap .sec-9 .btn-wrap button i {
          font-size: 20px;
          margin-right: 4px;
          vertical-align: middle; }
        .about-page-wrap .sec-9 .btn-wrap button:hover {
          background-color: #FF0000;
          color: #fff; }
    .about-page-wrap .sec-9 .social-links {
      padding-top: 20px; }
      .about-page-wrap .sec-9 .social-links li {
        display: inline-block;
        vertical-align: middle; }
        .about-page-wrap .sec-9 .social-links li a {
          display: block;
          padding: 3px 8px;
          font-size: 22px;
          opacity: 0.8; }
          .about-page-wrap .sec-9 .social-links li a:hover {
            color: #FF0000;
            opacity: 1; }
  .about-page-wrap .sec-10 {
    padding: 15px; }
    .about-page-wrap .sec-10 h3 {
      font-size: 18px;
      font-weight: 600;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between; }
      .about-page-wrap .sec-10 h3 a {
        font-size: 13px;
        display: block;
        padding: 0 20px;
        line-height: 28px;
        border-radius: 14px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-color: rgba(0, 0, 0, 0.07); }
        .about-page-wrap .sec-10 h3 a:hover {
          background-color: #FF0000;
          color: #fff;
          border-color: transparent; }
    .about-page-wrap .sec-10 .filter-list {
      margin-top: 25px; }
    .about-page-wrap .sec-10 select {
      width: 100%;
      height: 38px;
      padding: 0 0px;
      cursor: pointer;
      border: 0;
      border-bottom: 1px solid #ddd;
      -webkit-appearance: none;
      background-image: url(../images/icon2.png);
      background-repeat: no-repeat;
      background-size: 13px;
      background-position: right center; }
    .about-page-wrap .sec-10 input {
      display: block;
      line-height: 38px;
      border: 0;
      border-bottom: 1px solid #ddd;
      padding: 0 0px;
      width: 100%;
      cursor: pointer;
      background-image: url(../images/icon2.png);
      background-repeat: no-repeat;
      background-size: 13px;
      background-position: right center; }
  .about-page-wrap .bpat {
    padding: 0 10%; }
  .about-page-wrap .sec-11 {
    text-align: center;
    height: 100%; }
    .about-page-wrap .sec-11 h5 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 25px; }
    .about-page-wrap .sec-11 h3 {
      font-weight: 700;
      font-size: 40px; }
    .about-page-wrap .sec-11 h4 {
      opacity: 0.8;
      font-size: 13px;
      font-weight: 600; }
    .about-page-wrap .sec-11 ul {
      height: 170px;
      padding: 20px 8% 0; }
      .about-page-wrap .sec-11 ul li {
        text-align: left;
        list-style: square;
        margin-top: 10px; }
    .about-page-wrap .sec-11 .link {
      padding-top: 50px; }
      .about-page-wrap .sec-11 .link a {
        font-size: 15px;
        display: block;
        padding: 0 20px;
        line-height: 38px;
        border-radius: 19px;
        border: 1px solid rgba(255, 0, 0, 0.15);
        background-color: rgba(255, 0, 0, 0.07);
        color: #FF0000;
        font-weight: 500; }
        .about-page-wrap .sec-11 .link a:hover {
          background-color: #FF0000;
          color: #fff;
          border-color: transparent; }

.profile-header {
  padding: 200px 0 30px;
  background-position: center;
  background-size: cover;
  position: relative; }
  .profile-header::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent); }
  .profile-header .profile-contents {
    position: relative;
    z-index: 2;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center; }
    .profile-header .profile-contents .profile-img {
      background-position: center;
      background-size: cover;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 3px solid rgba(255, 255, 255, 0.8);
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); }
    .profile-header .profile-contents .content-box {
      padding-left: 30px;
      color: #fff;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); }

.overview-tile1 iframe {
  width: 100%;
  height: 250px;
  margin-bottom: 15px; }

.posts-head {
  text-align: center;
  padding-top: 20px; }

.overview-tile2 table {
  width: 100%; }
  .overview-tile2 table td:last-child {
    padding-left: 15px; }
.overview-tile2 p {
  line-height: 26px; }
  .overview-tile2 p a {
    color: #FF0000; }
    .overview-tile2 p a:hover {
      color: #443F53; }

.overview-tile3 {
  padding: 0 !important; }
  .overview-tile3 .imag-area a {
    width: 100%;
    height: 280px;
    background-size: cover;
    background-position: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; }
    .overview-tile3 .imag-area a > div {
      text-align: center;
      color: #fff;
      font-size: 18px; }
    .overview-tile3 .imag-area a p {
      font-weight: 600; }
    .overview-tile3 .imag-area a button {
      display: inline-block;
      padding: 0 20px;
      line-height: 38px;
      background-color: #eee;
      color: #443F53;
      border-radius: 19px;
      font-weight: 600;
      box-shadow: 2px 3px 10px rgba(68, 63, 83, 0.3);
      font-size: 15px; }
      .overview-tile3 .imag-area a button:hover {
        background-color: #FF0000;
        color: #fff;
        box-shadow: none; }
  .overview-tile3 .content-area {
    padding: 20px 15px; }
    .overview-tile3 .content-area .date-lock {
      margin-bottom: 10px;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      position: relative; }
      .overview-tile3 .content-area .date-lock .loc-status {
        position: absolute;
        bottom: 100%;
        width: 250px;
        background-color: #fff;
        padding: 15px;
        right: 0;
        color: #443F53;
        text-align: left;
        box-shadow: 3px 3px 10px rgba(68, 63, 83, 0.2);
        border: 1px solid rgba(68, 63, 83, 0.2);
        display: none;
        line-height: normal; }
        .overview-tile3 .content-area .date-lock .loc-status h4 {
          font-size: 15px;
          font-weight: 600; }
        .overview-tile3 .content-area .date-lock .loc-status ul {
          padding-left: 15px; }
          .overview-tile3 .content-area .date-lock .loc-status ul li {
            list-style: square;
            line-height: 26px; }
      .overview-tile3 .content-area .date-lock .lock {
        background-color: transparent;
        position: relative;
        color: #888;
        padding: 0 0;
        line-height: 40px; }
        .overview-tile3 .content-area .date-lock .lock i {
          display: inline-block;
          vertical-align: middle;
          font-size: 18px; }
        .overview-tile3 .content-area .date-lock .lock span {
          cursor: pointer; }
        .overview-tile3 .content-area .date-lock .lock:hover .loc-status {
          display: block; }
    .overview-tile3 .content-area .post-title {
      font-size: 20px;
      color: #222;
      font-weight: 600;
      margin-bottom: 15px; }
    .overview-tile3 .content-area .class-tag {
      font-weight: 600;
      margin-bottom: 20px;
      color: #5C2D89; }
      .overview-tile3 .content-area .class-tag i {
        display: inline-block;
        vertical-align: bottom; }
    .overview-tile3 .content-area .comment-like {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center; }
      .overview-tile3 .content-area .comment-like .like {
        margin-left: 15px;
        position: relative; }
        .overview-tile3 .content-area .comment-like .like span {
          cursor: pointer; }
        .overview-tile3 .content-area .comment-like .like:hover .cont {
          display: block; }
        .overview-tile3 .content-area .comment-like .like .cont {
          position: absolute;
          bottom: 100%;
          width: 250px;
          background-color: #333;
          padding: 15px;
          left: 0;
          color: #fff;
          text-align: left;
          box-shadow: 3px 3px 10px rgba(68, 63, 83, 0.2);
          border: 1px solid rgba(68, 63, 83, 0.2);
          display: none;
          line-height: normal;
          border-radius: 2px; }

/*# sourceMappingURL=style.css.map */
